:root {
  --brand-blue: #1F65F4;
  --text-black: #000000;
  --bg-white: #ffffff;
  --font-main: "Unitext Bold", "Unitext", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light;
  color: #1a1a1a;
  background-color: var(--bg-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: #F7FAFD;
}

/* --- Global Typography --- */
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-black);
  letter-spacing: -0.02em;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

h1 .suite {
  font-weight: 200;
  color: var(--brand-blue);
}

.version-label {
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 1rem;
  font-weight: 400;
}

/* --- Layout Sections --- */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 6rem;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  padding: 30px 42px 29px 28px;
  border-radius: 15px;
  border: #E1E8F1 1px solid;
}

/* --- Icon Scopes --- */
.lottie-icon {
  width: 120px;
  height: 120px;
}

#v1-container {
  /* Scope for Version 1 */
}

#v2-container {
  /* Scope for Version 2 */
}




